[user]
        email = {{ desktop_bootstrap_email }}
        name = {{ desktop_bootstrap_name }}
[core]
        editor = vim
        autocrlf = input
        whitespace = trailing-space,indent-with-non-tab,cr-at-eol
[color]
        ui = auto
        diff = auto
        status = auto
        branch = auto
[help]
        autocorrect = 25
